body{
  margin: 0;
  background-color: #242424;
  color: white;
}

#busca {
  width: 80%;
  text-align: center;
  font-size: 30px;
  border-radius: 20px;
}

.search-area {
  text-align: center;
}

.result-search {
  display: none;
  margin: 70px 0px 0 0px;
}

.result-search h3 {
  margin-left: 50px
}

.description {
  margin: 0 0 0 50px;
}

.top-bar {
  background-color: steelblue;
  padding: 20px;
  border-radius: 5px;
}

.title {
  text-align: center;
  text-decoration: underline;
  margin: 100px 0px 0px 0px;
}

h2 {
  margin: 0 0 0 20px;
}
